VITE_SUPABASE_URL=https://anmombulurzmmesblqvc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubW9tYnVsdXJ6bW1lc2JscXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA1MTM4MTQsImV4cCI6MjA0NjA4OTgxNH0.NzEb4KDLe1DAFxBXBlJk_1-GNxg26pSdVMsyfIof6RQ